
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin, padding and default heading behaviours*/
  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  
  body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  Font-family: inherit;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  /*
    9. Create a root stacking context
  */
  :root {
    /* Fonts */
    --ff-main: 'Overpass';
    --ff-accent: 'Ubuntu';
    --ff-size: 1rem;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* Colors */
      /* ### Primary */
      --clr-Light-red: hsl(356, 100%, 66%);
      --clr-Very-lightred: hsl(355, 100%, 74%);
      --clr-Very-dark-blue: hsl(208, 49%, 24%);
      /* ### Neutral */

      --clr-White-text: hsl(0, 0%, 100%);
      --clr-Grayish-blue: hsl(240, 2%, 79%);
      --clr-Very-dark-grayish-blue: hsl(207, 13%, 34%);
      --clr-Very-dark-black-blue: hsl(240, 10%, 16%);
      
  }
  #root, #__next {
    isolation: isolate;
  }
  html, body {
  height: 100%;
  display: grid;
  }
  body {
    font-size: var(--ff-size);
    font-family: var(--ff-main);
    color: white;
    visibility: visible;
  }
  .header__red {
    display: grid;
    background: linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%)),
              url(images/bg-pattern-intro-mobile.svg);
    background-blend-mode: lighten;
    background-position: 37% 37%;
    visibility: visible;
    text-align: center;
    border-bottom-left-radius: 5rem;
  }
  .mobile__menu-display {
    display: none;
  }
  .active {
    justify-self: center;
    color: rgba(1, 1, 44, 0.85);
    font-weight: 500;
    width: 88%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 100px;
    font-size: 1.15rem;
  }
  .mobile-menu__logo {
    cursor: pointer;
    align-self: center;
  }
  .header-flexbox__logo {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .header__main-title {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-wrap: balance;
  }
  .header__sub-title {
    width: 70%;
    justify-self: center;
    opacity: 0.8;
    padding-bottom: 2.5rem;
  }
  .header__button-flexbox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 8rem;
  }
  .header__red button {
    padding: 0.75rem;
    border-radius: 2rem;
    width: 130px;
    cursor: pointer;
  }
  .white-button {
    border: transparent;
    font-weight: 700;
    color: var(--clr-Light-red);
  }
  .transparent-button {
    border: 1px solid white;
    background-color: transparent;
    font-weight: 500;
    color: white;
  }
  .mm-sub__display {
    display: none;
  }
  .mm-title__flexbox {
    display: flex;
    place-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  hr {
    opacity: 0.5;
    margin-bottom: 1.5rem;
  }
  .arrow-icon {
    place-self: center;
  }
  .login-button {
    place-self: center;
    background-color: transparent;
    border: transparent;
    color: inherit;
  }
  .signup-button {
    place-self: center;
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    border: none;
    background: linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
  }
  .mobile-menu-close {
    position: absolute;
    place-self: end;
    padding-right: 1.5rem;
    top: 50px;
    visibility: hidden;
    z-index: 0;
  }
  .visible {
    visibility: visible;
  }
  .hidden {
    visibility: hidden;
  }
  .blogr__footer {
    background-color: var(--clr-Very-dark-black-blue);
    padding: 4rem;
    border-top-right-radius: 5rem;
    text-align: center;
  }
  .footer-bold__title {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .blogr__footer ul {
    margin-bottom: 2rem;
  }
  .blogr__footer li {
    margin-bottom: 0.5rem;
    opacity: 0.7;
    font-weight: 300;
  }
  .blogr-darkbg-lighttext__section {
    background-color: rgb(59, 59, 90);
    border-top-right-radius: 5rem;
  }
  .big-list {
    color: var(--clr-Very-dark-grayish-blue);
  }
  .footer-logo {
    place-self: center;
    width: 95px;
    margin-bottom: 4rem;
  }