
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin, padding and default heading behaviours*/
  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  
  body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  Font-family: inherit;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  /*
    9. Create a root stacking context
  */
  :root {
    /* Fonts */
    --ff-main: 'Overpass';
    --ff-accent: 'Ubuntu';
    --ff-size: 1rem;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* Colors */
      /* ### Primary */
      --clr-Light-red: hsl(356, 100%, 66%);
      --clr-Very-lightred: hsl(355, 100%, 74%);
      --clr-Very-dark-blue: hsl(208, 49%, 24%);
      /* ### Neutral */

      --clr-White-text: hsl(0, 0%, 100%);
      --clr-Grayish-blue: hsl(240, 2%, 79%);
      --clr-Very-dark-grayish-blue: hsl(207, 13%, 34%);
      --clr-Very-dark-black-blue: hsl(240, 10%, 16%);
      
  }
  #root, #__next {
    isolation: isolate;
  }
  html, body {
  height: 100%;
  display: grid;
  }
  body {
    visibility: hidden;
    font-size: var(--ff-size);
    font-family: var(--ff-main);
    color: white;
  }
  .header__red
  {
    background: linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    visibility: visible;
    text-align: center;
    border-bottom-left-radius: 5rem;
  }
  .mobile__menu-display {
    display: none;
  }
  .mobile-menu__logo {
    cursor: pointer;
    align-self: center;
  }
  .header-flexbox__logo {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-top: 3rem;
  }
  .header__main-title {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-wrap: balance;
  }
  .header__sub-title {
    width: 70%;
    justify-self: center;
    opacity: 0.8;
    padding-bottom: 2rem;
  }
  .header__button-flexbox {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 7rem;
  }
  